:root {
  --grid-rows: 16;
  --grid-cols: 16;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e0ebf8;
  margin: 1rem 1rem;
  color: #2d080a;
}

#grid-container {
  display: grid;
  background: #e9ebf8;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  border: 1px solid #2d080a;
  border-width: 3px;
  border-radius: 6px;
  width: 45rem;
  height: 45rem;
  overflow: hidden;
}

#btns {
  text-align: center;
  margin: 1rem 1rem;
}

button {
  border: 2px solid rgba(21, 50, 67, 0.85);
  border-radius: 4px;
  background: rgba(40, 75, 99, 0.85);
  font-size: 14px;
  margin: 0.5rem;
  color: #e9ebf8;
}

#clear:hover, #change-size:hover {
  border-color: rgb(21, 50, 67);
  background: rgb(40, 75, 99);
}
